{% extends 'base.html' %}

{% block title %}Login - ReviewHub{% endblock %}

{% block content %}
    <div class="auth-container">
        <h1>ReviewHub</h1>
        <form method="POST" class="auth-form">
            <input name="username" placeholder="Username">
            <input name="password" placeholder="Senha" type="password">
            <button type="submit" class="btn">Entrar</button>
        </form>
        
        <div class="auth-links">
            <p>Ainda não tem uma conta? <a href="{{ url_for('auth.register') }}">Registre-se</a></p>
            <p>Ou <a href="{{ url_for('auth.guest_login') }}" class="guest-link">entre como convidado</a></p>
        </div>
    </div>
{% endblock %}