{% extends 'base.html' %}

{% block title %}Login - ReviewHub{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <section class="auth-container">
        <h1 class="title-from">Review<span>Hub</span></h1>
        <form action="{{ url_for('auth.login') }}" method="POST" class="auth-form">
            <input name="username" required placeholder="Username">
            
            <div class="input-wrapper">
                <input type="password" id="senha" placeholder="Senha" name="password" required>
                <button type="button" class="toggle-btn fa-solid fa-eye"></button>
            </div>
            
            
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for msg in messages %}
                    <li class="{{msg[0]}}">{{ msg[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            
            <button type="submit" class="btn">Entrar</button>
        </form>
        
        <article class="auth-links">
            <p>Ainda não tem uma conta? <a href="{{ url_for('auth.register_page') }}">Registre-se</a></p>
            <p>Ou <a href="{{ url_for('auth.guest_login') }}" class="guest-link">entre como convidado</a></p>
        </article>
    </section>
    
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}