{% extends 'base.html' %}

{% block title %}Cadastrar - ReviewHub{% endblock %}

{% block content %}
    <div class="auth-container">
        <h1>Criar Conta</h1>
        <form method="POST" action="{{ url_for('auth.register_page') }}" class="auth-form">
            <input name="name" required placeholder="Nome">
            <input name="username" required placeholder="Username">
            <input name="password" required placeholder="Senha" type="password">

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for msg in messages %}
                            <li class="{{ msg[0]}}">{{ msg[1] }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <button type="submit" class="btn">Criar Conta</button>
        </form>
        <div class="auth-links">
            <p>Já tem uma conta? <a href="{{ url_for('auth.login_page') }}">Faça login</a></p>
        </div>
    </div>
{% endblock %}