{% extends 'base.html' %}

{% block title %}Cadastrar - ReviewHub{% endblock %}

{% block content %}
    <div class="auth-container">
        <h1>Criar Conta</h1>
        <form method="POST" class="auth-form">
            <input name="name" placeholder="Nome">
            <input name="username" placeholder="Username">
            <input name="password" placeholder="Senha" type="password">
            <button type="submit" class="btn">Criar Conta</button>
        </form>
        <div class="auth-links">
            <p>Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça login</a></p>
        </div>
    </div>
{% endblock %}