{% extends 'base.html' %}

{% block title %}Cadastrar - ReviewHub{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <section class="auth-container">
        <h1>Criar Conta</h1>
        <form method="POST" action="{{ url_for('auth.register_page') }}" class="auth-form">
            <input name="name" required placeholder="Nome">
            <input name="username" required placeholder="Username">
            

            <div class="input-wrapper">
                <input type="password" id="senha" placeholder="Senha" name="password" required>
                <button type="button" class="toggle-btn fa-solid fa-eye"></button>
            </div>

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for msg in messages %}
                            <li class="{{ msg[0]}}">{{ msg[1] }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <button type="submit" class="btn">Criar Conta</button>
        </form>
        <article class="auth-links">
            <p>Já tem uma conta? <a href="{{ url_for('auth.login_page') }}">Faça login</a></p>
        </article>
    </section>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}