<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReviewHub{% endblock %}</title>

    <!-- CSS Imports (Modularized) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies-grid.css') }}">

    {% block head %}{% endblock %}
</head>
<body>

    {% if not request.endpoint or not request.endpoint.startswith('auth') %}
    <header class="site-nav">
        <div class="container">
            <p><a class="brand" href="{{ url_for('home.homepage') }}">Review<span>Hub</span></a></p>
            <nav>
                <ul>
                    {% if session.get('user_id') or session.get('guest_mode') %}
                        <li><a href="{{ url_for('auth.logout') }}" class="btn">Sair</a></li>

                    <!-- Temos que permitir que o home seja possível de acessar sem login, aí teremos esse nav. 
                    Caso contrário essa condição nunca existirá -->
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Entrar</a></li>
                        <li><a href="{{ url_for('auth.register') }}" class="btn">Cadastrar</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% endif %}

    
    <main{% if request.endpoint and request.endpoint.startswith('auth') %} class="auth-main"{% endif %}>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block scripts %}{% endblock %}
    {% if not request.endpoint or not request.endpoint.startswith('auth') %}
    <footer class="site-footer">
        <div class="container">
            <p class="credit">&copy; ReviewHub  {{ now().year if now is defined else '2025' }}</p>
            <p>•</p>
            <p class="muted">Built with Flask</p>
        </div>
        {% block footer %}{% endblock %}
    </footer>
    {% endif %}
</body>
</html>
