<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReviewHub{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">

    {% block head %}{% endblock %}
</head>
<body>

    {% if not request.endpoint or not request.endpoint.startswith('auth') %}
    <header class="site-nav">
        <div class="container">
            <p><a class="brand" href="{{ url_for('home.homepage') }}">Review<span>Hub</span></a></p>
            <nav>
                <ul>
                    {% if session.get('user_id') %}
                        <li class="nav-username">
                            <a class="username" href="{{ url_for('movies.mine_reviews_page') }}">{{ session.get('username') }}</a>
                        </li>
                        <li id="sair"><a href="{{ url_for('auth.logout') }}"  class="btn">Sair</a></li>

                    {% elif session.get('guest_mode') %}
                        <li><a href="{{ url_for('auth.login_page') }}" class="btn">Entrar</a></li>

                    {% else %}
                        <li><a href="{{ url_for('auth.login_page') }}" class="btn">Entrar</a></li>
                        <li><a href="{{ url_for('auth.register_page') }}" class="btn">Cadastrar</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% endif %}

    
    <main{% if request.endpoint and request.endpoint.startswith('auth') %} class="auth-main"{% endif %}>
        {% block content %}{% endblock %}
    </main>


    {% block scripts %}{% endblock %}
    {% if not request.endpoint or not request.endpoint.startswith('auth') %}
    <footer class="site-footer">
        <div class="container">
            <p class="credit">&copy; ReviewHub  {{ now().year if now is defined else '2025' }}</p>
            <p>•</p>
            <p class="muted">Built with Flask</p>
        </div>
        {% block footer %}{% endblock %}
    </footer>
    {% endif %}
</body>
</html>
