{% extends "base.html" %}

{% block title %}Filmes - ReviewHub{% endblock %}

{% block content %}



<form method="get" class="genre-filter">
    <select name="genero" onchange="this.form.submit()">
        <option value="">Todos os gêneros</option>
        
        {% for genero in generos %}
        <option value="{{ genero['nome'] }}"
        {% if selected_genero == genero['nome'] %}selected{% endif %}>
        {{ genero['nome'] }}
    </option>
    {% endfor %}
</select>
</form>
<p id="subtitle-movie">Selecione um filme para avaliar</p>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flash-messages">
            {% for msg in messages %}
                <li class="{{msg[0]}}">{{ msg[1] }}</li>
                {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="movies-grid">
    {% for movie in movies %}
    <a href="{{ url_for('movies.details_page', id=movie.id) }}" class="movie-card">
        <div class="movie-poster">
            <img src="{{ movie.imagem }}" alt="{{ movie.nome }}" loading="lazy">
            <div class="movie-overlay"></div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
